---
import Logo from '../../public/rogers_logo.png'
import { Image } from 'astro:assets';
---

<nav class="w-full flex items-center justify-between bg-[url('../../public/teds_header.png')]">
    <Image src={Logo} alt="Dixon Drums" class="h-16 m-3 w-auto" />
    <h1 class="text-white text-xl uppercase font-thin mr-3">@ Europe Drum Show 2025</h1>
</nav>


<style>
.ssg {
    background: #0b6db6;
}
</style>

